*, :root {
  border: solid 1px black;
}

body, html {
  font-family: "Quicksand", sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background-color: blue;
  margin: 0;
  padding: 0;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: wheat;
  text-decoration: none;
  margin-left: 8px;
  margin-right: 8px;
}

main {
  display: flex;
  flex-direction: column;
}

.content {
  background-color: aliceblue;
  text-align: center;
}

h2, h4 {
  padding: 0;
  margin: 4px;
}

.Projects {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.About {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

aside .container {
  background-color: aqua;
}

footer {
  background-color: brown;
  align-items: center;
  text-align: center;
}